<%- include('../shared/head.ejs') %>
<link rel="stylesheet" href="/css/form.css">
</head>

<body>
  <%- include('../shared/navigation.ejs') %>
  <main>
    <form action="/add-product" method="POST">
      <div class="form-wrapper">
        <div class="field-wrapper">
          <label for="title">Title *</label>
          <input type="text" name="title" class="input-field">
        </div>
        <button class="submit-btn">
          Submit Form
        </button>
      </div>
    </form>
  </main>
  <%- include('../shared/end.ejs') %>