<%- include('../shared/head.ejs') %>    
  <link rel="stylesheet" href="/css/shop.css">
  <link rel="stylesheet" href="/css/cart.css">
</head>

<body>
  <%- include('../shared/navigation.ejs') %>  
  <h1 class="page-title">My Cart</h1>
<%- include('../shared/end.ejs') %>  
