<%- include('../shared/head.ejs') %>    
  <link rel="stylesheet" href="/css/shop.css">
  <link rel="stylesheet" href="/css/checkout.css">
</head>

<body>
  <%- include('../shared/navigation.ejs') %>  
  <h1 class="page-title">Checkout</h1>
<%- include('../shared/end.ejs') %>  
