<%- include('../shared/head.ejs') %>    
  <link rel="stylesheet" href="/css/shop.css">
</head>

<body>
  <%- include('../shared/navigation.ejs') %>  
  <main>
    <h1 class="page-title">Welcome To The Book Shop</h1>
    <%- include('../shared/product.ejs') %>
  </main>
<%- include('../shared/end.ejs') %>  
